/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos personalizados */
:root {
  --color-fondo: #020724;
  --color-btns: #226bd8;
  --color-fondo-dgr: #292e4b;
  --color-blanco: #ebeef3;
  --color-rojo-fondo: #fbc8c8;
  --color-rojo: #f42424;
  --color-verde-fondo: #d8fdd8;
  --color-verde: #00ba00;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  margin: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*helps*/
.error{
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(252, 210, 210);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

input{
  color:var(--color-fondo)
}

.font-size-small {
  font-size: 1.15rem;
}