$imagen: 'https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80';

.capa {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.781)), url($imagen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.confirm {
    text-align: center;
    width: 100%;
    background-color: var(--color-blanco);
    color: var(--color-fondo);
    padding: 3rem;
    border-radius: .5rem;

    &__heading {
        font-weight: 900;
        margin-bottom: 1rem;
    }

    &__btn {
        margin-top: 2rem;
        width: 100%;
        background-color: var(--color-btns);
        border: none;
        color: var(--color-blanco);
        font-weight: 700;
        padding-block: .8rem;
        border-radius: .5rem;
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    &__btn:hover {
        background-color: var(--color-fondo);
    }
}

@media (min-width:768px) {
    .confirm {
        width: 30%;
    }
}